"# Каждый работает только в своей папке" 
"web-module/*" 
"auth-module/*" 
"tg-module/*" 
"central-module/*" 
"!web-module/README.md" 
"!auth-module/README.md" 
"!tg-module/README.md" 
"!central-module/README.md" 
"node_modules/" 
".env" 
"*.log" 
